<h1><%=@list.title%></h1>
<h5>Owner: <%= @list.owner.shortname %> </h5>
<div id='list-id' style="display:none"><%= @list.id%></div>
<ul  class="list-group">
    <ul id="list-body" class="list-group">
    </ul>
    <li class="list-group-item d-flex  align-items-start listDo">
        <%  if @list.can_be_written_by(current_user) then %>
            <%= form_for @list.tasks.build, :html => {:class => 'form-inline align-middle'} do |f| %>
                <%= button_tag(type:"submit", class:"btn btn-outline-dark") do %>
                    <i class="fas fa-plus"></i>
                <% end %>
                <%= f.text_field( :title, class:"newTask") %>
                <%= f.hidden_field :list_id %>
            <% end %>
        <% else %>
            <br>
            You do not have permissions to add tasks to this list.
        <% end %>
    </li>
</ul>

<%= javascript_include_tag 'list' %>