<h1><%=@list.title%></h1>
<h5>Owner: <%= @list.owner.shortname %> </h5>
<ul class="list-group">
    <% @list.tasks.each do |task|%>
    <% done = task.completed ? "done" : "not-done"%>
    <% icon = task.completed ? "check" : "times"%>
    <li class="list-group-item d-flex  align-items-start listDo">
        <%= form_tag("/tasks/#{task.id}/toggle",{class:"form-inline align-middle"} ) do %>
            <%= button_tag(type: "submit", class: "btn   #{done}") do %>
                <i class="fas fa-<%= icon %>"></i>
            <% end %>
        <% end %>
        <div class="ml-3"><%= task.title %></div>
    </li>
    <% end %>
    <li class="list-group-item d-flex  align-items-start listDo">
        <% if @list.canwrite(session[:user_id]) then %>
            <%= form_for @list.tasks.build, :html => {:class => 'form-inline align-middle'} do |f| %>
                <%= button_tag(type:"submit", class:"btn btn-outline-dark") do %>
                    <i class="fas fa-plus"></i>
                <% end %>
                <%= f.text_field( :title, class:"newTask") %>
                <%= f.hidden_field :list_id %>
            <% end %>
        <% else %>
            You do not have permissions to add tasks to this list.
        <% end %>
    </li>
</ul>