<!DOCTYPE html>
<html>
  <head>
    <title>Taskaroo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Taskaroo</a>
    <a class="nav-link"> <%= session[:email] %> </a>
    
    <% if session[:user_id]  %>
      <%= form_tag({controller:'sessions', action:'destroy'},{class:"form-inline"}) do %>
        <input class="btn btn-outline-danger" type=submit value='log out'>
      <% end %>
    <%else%>
      <%= link_to({controller: 'sessions', action: 'new'},class:'btn btn-outline-success') { 'log in' }%>
    <%  end%>
    
  </nav>
  <body>
    <div class='page'>
      <%= render_flash_messages %>
      <%= yield %>
    </div>
  </body>
</html>
